h1{ 
  width: 300px;
  margin: 0 auto;
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  text-align: center;
  text-decoration: bold;
  margin-top: 20px;
  color: silver;

}

.pokecard{ 
    background-color: #690b04;
    border-radius: 5px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    }

h2{ 
text-decoration: underline;
color: white;
}

p , h2 { 
font-family: sans-serif;
color: white;
text-align: center

}
.centerInput{ 
text-align: center;
width: 700px;
margin: 0 auto;
}
